* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    position: relative;
    font-family: "Raleway", sans-serif;   
}

h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}
header {
    padding: 10px 0px;
    margin: 0 auto;
    display: flex;
}
p {
    margin: 28px 0;
    line-height: 160%;
    color: #fff;
}
.title {
    margin-top: 8%;
    z-index: 1;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
}

.top-bg img {
    max-width: 100%;
    margin-top: 40px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section.top {
    position: absolute;
    /*width: 90%;*/
    margin-left: auto;
    margin-right: auto;
    /*max-width: 1320px;*/
    overflow: hidden;
    text-align: center;
}

button {
    padding: 18px 24px;
    border-radius: 12px;
    width: 200px;
}

.container {
    max-width: 1320px;
    padding: 10px 0px;
    margin: 0 auto;
    width: 90%;
}

a {
    text-decoration: none;
    color: inherit;
}


.logo {
    width: 30px;
    float: left;
}


ul.menu {
    float: right;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

.footerlight {
    width: 50%;
    display: inline;
}

a.sns.two {
    padding-left: 30px;
}
.sns {
    opacity: .5;
}
.sns::hover {
    opacity: 1;
}
.contact p {
    font-size: 45px;
}

.footerlight img {
    max-width: 100%;
    margin-top: 50px;
    width: 300px;
}

span.emailaddress {
    color: #2CBCDB;
    position: relative;
}

span.emailaddress::after {
    content: "";
    position: absolute;
    border: 1px solid #2CBCDB;
    width: 100%;
    left: 0;
    bottom: 5px;
}
.section.about {
    width: 100%;
    height: 620px;
    background-color: #21BEE0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
}

.intro-about-container {
    width: calc(100% - 40px);
    min-height: unset;
    flex-direction: column;
    position: relative;
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro-about {
    padding-top: 40px;
    line-height: 60px;
    font-size: 40px;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.about-absolute {
    font-size: 20px;
    padding-bottom: 5px;
}

p.fun-copy.japanese {
    line-height: initial;
}
.section.forfuns {
    background: #F5DC2D;
    text-align: center;
    display: flex;
    position: relative;
}
p.fun-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 60px;
}
.grid {
    display: grid;
    margin: auto;
    z-index: 1;
}
.forfun {
    padding-bottom: 30px;
}
.forfuntext {
    width: 290px;
    margin: auto;
    color: #262626;
}
.forfuntext::after {
    content: "";
    width: 950px;
    height: 710px;
    background-size: contain;
    background-image: url(assets/fun-BG.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: -240px;
    bottom: 0px;
}


@media only screen and (max-width: 330px) {
     .contact p {
    font-size: 20px;
    }
    .intro-about {
        font-size: 35px;
        line-height: 53px;
    }
}

@media only screen and (max-width: 730px) {
    .footerlight {
        display: none;
    }
}

@media only screen and (min-width: 767px)  {
    .intro-about {
        max-width: 404px;
        font-size: 45px;
        padding-top: 0px;
    }
    .section.about{
        height: 768px;
    }
    .about-absolute {
        position: absolute;
        font-size: 30px;
    }
    .about-absolute.right.japanese {
        right: 20px;
    }
    .about-absolute.right {
        right: -30px;
        transform: rotate(90deg);
    }
    .about-absolute.top{
        top: -130px;
    }
    .about-absolute.right.japanese {
        right: 20px;
    }
    .about-absolute.left {
        left: 30px;
        transform: rotate(-90deg);
    }
    .about-absolute.bottom {
        bottom: -130px;
    }
    .top-bg img {
        position: absolute;
        width: 650px;
        right: -80px;
    }
  grid-column-gap: 3.604167vw;
    }


}
@media only screen and (min-width: 1000px) {
    .top-bg img {
        width: 100%;
        max-width: 1045px;
    }
    .section.top {
        height: 560px;
    }
    .top-bg img {
        right: -40px;
    }
    .contact p {
        font-size: 45px;
    }
    .footerlight img {
        margin-left: 50px;
    }
     .forfuntext {
        text-align: left;
    }
    .grid {
        grid-row-gap: 1.5625vw;
        grid-column-gap: 1.604167vw;
    }
    
}

@media only screen and (min-width: 1200px) {
    .intro-about {
        max-width: 784px;
        font-size: 65px;
        line-height: 98px;
    }
    h1 {
        max-width: 440px;
    }
    .section.top {
        height: 630px;
    }
    .footerlight img {
        width: 300px;
        margin-top: 0px;
        position: initial;
    }
    .forfuntext {
        margin: auto 50px;
    }
    .grid.right {
        margin: auto 50px;
    }
    .section.forfuns {
        align-items: center;
        justify-content: center;
        padding: 100px;
    }

}
@media only screen and (min-width: 2000px) {
    .forfuntext::after {
        left: 270px;
        bottom: 0px;
    }
}



.btn {
  height: 54px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #fff;
    color: #333;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

/*#gradient-canvas {
	width: 100%;
	height: 100vh;
	--gradient-color-1: #c3e4ff;
	--gradient-color-2: #6ec3f4;
	--gradient-color-3: #eae2ff;
	--gradient-color-4: #b9beff;
}*/

#gradient-canvas {
    width:100%;
    height:100vh;
    --gradient-color-1: #d08fff; 
    --gradient-color-2: #abcbf7; 
    --gradient-color-3: #9882f4;  
    --gradient-color-3: #5097ff;  
}

.btn {
	position: relative;
	color: #fff;
	width: 100%;
	max-width: 250px;
	height: 52px;
  overflow:hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 1 !important;
}
.btn:hover{
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.btn:focus{
    color: rgba(13, 13, 13, 1) !important;
}
